<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Name : Valerie Ann Inalisan Caballes</p>
      <p>Age : 21 yrs old</p>
      <p>Address : Brgy.Upper Hiraan Carigara Leyte</p>
      <p>Birthplace : Manila</p>
      <p>Status : English</p>
      <p>Zodiac Sign : Sagittarius</p>
      <p>Birthdate : December 13, 1999</p>
      <p>Hobbies : Reading books, watching online preachers and sleeping</p>
      <p>Motto : With God, nothing is impossible.</p>
    </ion-card-content>
  </ion-card>
</ion-content>